.ftpignore
.ftpconfig

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/
data/pretrained_models/*
!data/pretrained_models/.gitkeep
data/scene_datasets/*
!data/scene_datasets/.gitkeep

debug_cache/
*.jsonl
scripts/
habitat_connectivity_graph/*
!habitat_connectivity_graph/.gitkeep

hub/*

logs/checkpoints/*
!logs/checkpoints/.gitkeep
logs/running_log/*
!logs/running_log/.gitkeep
logs/tensorboard_dirs/*
!logs/tensorboard_dirs/.gitkeep

obstacle/*
!obstacle/.gitkeep

waypoint_prediction/checkpoints/*
!waypoint_prediction/checkpoints/.gitkeep

vlnce_baselines/waypoint_pred/*
!vlnce_baselines/waypoint_pred/.gitkeep
