.ftpignore
.ftpconfig

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/
data/*
!data/.gitkeep

debug_cache/
*.jsonl
scripts/
habitat_connectivity_graph/*
!habitat_connectivity_graph/.gitkeep

hub/*

logs/*
!logs/.gitkeep

obstacle/*
!obstacle/.gitkeep

waypoint_prediction/checkpoints/*
!waypoint_prediction/checkpoints/.gitkeep

vlnce_baselines/waypoint_pred/*
!vlnce_baselines/waypoint_pred/.gitkeep
