.ftpignore
.ftpconfig

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/
data/pretrained_models/ddppo-models/*
!data/pretrained_models/ddppo-models/.gitkeep
data/pretrained_models/rec_vln_bert-models/*
!data/pretrained_models/rec_vln_bert-models/.gitkeep
data/scene_datasets/*
!data/scene_datasets/.gitkeep

debug_cache/
*.jsonl
scripts/
habitat_connectivity_graph/*
!habitat_connectivity_graph/.gitkeep

hub/*

logs/checkpoints/cont-cwp-cma-ori/*
!logs/checkpoints/cont-cwp-cma-ori/.gitkeep
logs/checkpoints/cont-cwp-vlnbert-ori/*
!logs/checkpoints/cont-cwp-vlnbert-ori/.gitkeep
logs/running_log/*
!logs/running_log/.gitkeep
logs/tensorboard_dirs/*
!logs/tensorboard_dirs/.gitkeep

obstacle/*
!obstacle/.gitkeep

waypoint_prediction/checkpoints/*
!waypoint_prediction/checkpoints/.gitkeep

vlnce_baselines/waypoint_pred/*
!vlnce_baselines/waypoint_pred/.gitkeep
